doctype html
html
	head
		title Hello Pug
	body
		p.greetings#people Hello World!

		h1 Welcome to Pug

		div
			| Using regular tags can help keep your lines short,
			| but interpolated tags may be easier to #[em visualize]
			| whether the tags and text are whitespace-separated.

		// This is a Pug comment